  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<form role="form" action="/posts<%= @post.id ? '/'+ 'update' + '/' + @post.id.to_s : '' %>" method="post">
  <div class="form-group">
    <label for="exampleInputTittle">Titulo</label>
    <input type="string" name ="post[title]" value= "<%=@post.title%>">
  </div>
  <div class="form-group">
    <label for="exampleInputText">Texto</label>
    <input type="text" name ="post[text]" value= "<%=@post.text%>">
  </div>
  <div class="form-group">
    <label for="exampleInputCategory">Categoria</label>
    <input type="string" name ="post[category]" value= "<%=@post.category%>">
  </div>
  <br>
  <button class="btn btn-default" type="submit">Publicar</button>
</form>
