<h1>Pagina Administradora</h1>
<br>
<%= notice %>
<br>
<%= link_to_function "Buscar", "$('#hide').toggle()" %>
<br>
<br>
<div id="hide" style="display:none">
<br>
<form method="GET" action="/posts/search">
Palabra: <input type="text" name="text" id="text"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar">
</form>
</div>
<table class="table table-striped">
	<tr>
		<th>Titulo</th>
		<th>Texto</th>
		<th>Likes</th>
		<th>Categoria</th>
	</tr>
<% @posts.each do |post| %>
<tr>
	<td>
		<%= post.title %>
	</td>
	<td>
		<%= post.text %>
	</td>
	<td>
		<%= post.likes %>
	</td>
	<td>
		<%= post.category %>
	</td>
	<td>
		<a class="btn btn-default" href="/posts/likes/<%= post.id %>" role="button">Like</a>
		<a class="btn btn-default" href="/posts/dislikes/<%= post.id %>" role="button">Dislike</a>
		<a class="btn btn-default" href="/posts/<%= post.id %>" role="button">Ver</a>
		<a class="btn btn-default" href="/posts/edit/<%= post.id %>" role="button">Editar</a>
		<a class="btn btn-default" href="/posts/destroy/<%= post.id %>" role="button">Eliminar</a>
	</td>
</tr>
<%end%>
</table>
<br>
<p>
	<a class="btn btn-default" href="/posts/new" role="button">Nuevo</a>
</p>


