<p>
  <strong>Titulo:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Texto:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @post.created_at %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Ususario:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Commentario:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= comment.created_at %>
  </p>
<% end %>
 
<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :Usuario %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :Cometario %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Atras', posts_path %>