<p>
  <strong>Titulo:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Texto:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @post.created_at %>
</p>

<h2>Commentarios</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Usuario:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Commentario:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= comment.created_at %>
  </p>
<% end %>
 
<p><strong>Agregar Comentario</strong></p>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :Usuario %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :Cometario %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <button type=f.submit class="btn btn-default">Publicar</button>
  </p>
<% end %>
 
<a href="/posts/welcome" class="btn btn-primary btn-lg disabled" role="button">Atras</a>
